.carousel-item img{
    width: 100%;
    height: 80vh;
}

h1 {
    font-family: "Dancing Script";
}

.card-body img {
    min-width: 50%;
    max-height: 200px;
}

#Ahmad {
    margin: 0;
    padding: 0;
    width: 350px;

}

#Ahmad2 {
    width: 400px;

}
#Ahmad3 {
    width: 400px;

}
@media only screen and (max-width: 767px){
   
   .carousel-item img{
    width: 100%;
    height: 30vh;
   }
    body {
        overflow-x: hidden;
    }
}